
/* login page */

.full-screen {
  width: 100%;
  height: 100%;
}

.logo-image-box{
    width:30%
}

.login-box {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 2%;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.5);
}

/* dashboard page */

.width-fiftheen{
    width: 15%;
    height: 100vh;
}

.cursor-pointer{
    cursor:pointer;
}

.width-eighty-five{
    width: 85%; 
    height: 100vh;
}


/* emergency page */

.text-align-left{
    text-align: left;
}


.overflow-hide{
    overflow-y: auto;
    max-height: 490px;
    border:1px solid #ccc;
}

.table-style{
    width:100%;
    border-collapse: collapse;
    
}

table>tbody>tr:nth-child(even){
    background-color: #4169e1 ;
    color:white;

}

table>tbody>tr>td{
    padding:8px 0px;
}

.width-hundred{
    width: 100%;
}

.font-fiftheen{
    font-size: 15px;
}

.police-walla{
    position:absolute; 
    top:520px; 
    left:40%;
}

/* message page */

